/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@import '../../.cache/wal/colors-waybar.css';

* {
    font-family: "Hack Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
    font-size: 16px;

}

window#waybar {
    border-bottom: 0px solid #ffffff;
    background: transparent;
    transition-property: background-color; transition-duration: .5s;
}

.modules-left{
	border: 2px solid @color3;
	border-radius: 10px 0px 40px 10px;
	background-color: @background;
  padding: 0px 20px 0px 0px;
  margin: 0px 12px;

}
.modules-right{
	border: 2px solid @color3;
	border-radius: 40px 10px 10px 0px;
	background-color: @background;
  padding: 0px 0px 0px 20px;
  margin: 0px 12px;
}
.modules-center {
	border: 2px solid @color3;
	border-radius: 40px 0px 40px 0px;
	background-color: @background;
  padding: 0px 20px;
}

#workspaces {
    background: @background;
    margin: 1px 1px 1px 1px;
    border-radius: 60px 0px 60px 0px;
    font-weight: bold;
    font-style: normal;
    color:#FFFFFF;
}

#workspaces button {
    padding: 1px 9px;
    margin: 3px 3px;
    border-radius: 15px;
    border:0px;
    color: #FFFFFF;
    background-color: @color2;
    transition: all 0.4s ease-in-out;
    opacity:0.4;
}

#workspaces button.empty {
    padding: 1px 9px;
    margin: 3px 3px;
    border-radius: 15px;
    border:0px;
    color: #FFFFFF;
    background-color: @background;
    transition: all 0.4s ease-in-out;
    opacity:0.4;
}


#workspaces button.active {
    color: #FFFFFF;
    background: @color2;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}


#workspaces button:hover {
    color: #FFFFFF;
    background: @color10;
    border-radius: 15px;
    opacity:0.7;
}


tooltip {
    border-radius: 10px;
    border: 2px solid @color3;
    background-color: @background;
    opacity:0.9;
    padding:20px;
    margin:0px;
    font-size: 12px;
    text-shadow: none;
}

tooltip label {
    color: @foreground;
}

#window {
    background: #FFFFFF;
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color:@background;
    font-weight:normal;
    opacity:0.8;
}

/* Window will still occupy a bit space when empty */
window#waybar.empty #window {
    background-color:transparent;
}

#taskbar {
    background: #FFFFFF;
    margin: 3px 15px 3px 0px;
    padding:0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
    border: 3px solid #FFFFFF;
}

#taskbar button {
    border-radius: 15px;
    margin:0;
    padding: 0px 5px 0px 5px;
}

#taskbar button:hover {
    color: #FFFFFF;
    background: @color3;
    border-radius: 15px;
    opacity:0.7;
}



.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */
#custom-appmenu {
    background-color: @color2;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 0px 15px 0px 10px;
    margin: 3px 15px 3px 14px;
    opacity:0.8;
    border:3px solid #FFFFFF;
}

#custom-audio_idle_inhibitor{
    margin: 0px 15px 0px 0px;
    padding:0px;
    padding-right:0px;
    font-size:20px;
    color:#FFFFFF;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */
#custom-exit {
    margin: 0px 15px 0px 0px;
    padding:0px;
    padding-right:10px;
    color:#FFFFFF;
}


#disk,#memory,#cpu {
    margin:0px;
    padding:0px;
    color:#FFFFFF;
}

#memory {
    margin-right:10px;
}

#clock {
    background-color: @color2;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
    opacity:0.8;
    border:3px solid #FFFFFF;   
}


#pulseaudio {
    background-color: #FFFFFF;
    color: @background;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#pulseaudio.muted {
    background-color: @color2;
    color: #FFFFFF;
}

#network {
    background-color: #FFFFFF;
    color: @background;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 3px 10px 3px 0px;
    opacity:0.8;
    border: 3px solid #FFFFFF
}

#network.ethernet {
    background-color: @color2;
    color:#FFFFFF;
}

#network.wifi {
    background-color: @color2;
    color:#FFFFFF;
}


#bluetooth.on, #bluetooth.connected {
    background-color: #FFFFFF;
    color: @background;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

#battery {
    background-color: #FFFFFF;
    color: @background;
    border-radius: 15px;
    padding: 2px 15px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: @color2;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background: #FFFFFF;
    margin: 3px 15px 3px 0px;
    padding:0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
    border: 3px solid #FFFFFF;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

