#!/bin/sh

# Use /etc/X11/xorg.conf.d/20-nvidia.conf to set monitor positions
# Upscale *2.0
xrdb -merge ~/.Xresources

# Sensible keyboard autorepeat delay/speed
# xset r rate 400 50

# Use capslock as ESC; Shift + capslock for CAPS
setxkbmap -option "caps:escape_shifted_capslock"

# Need to set before i3 for use in `sensible-terminal`
export TERMINAL=alacritty

xset r rate 200 25
# Put monitor in standby after 5 minutes, suspend/off/screensaver disabled as they are identical
xset +dpms dpms 300 0 0
xset s 0 0
xss-lock --transfer-sleep-lock --notifier="notify-send --expire-time=30000 'LOCKING locking soon'" -- lock --nofork &

picom --config $HOME/.config/i3/picom.conf -b
